<br>
<div class="container">
  <h3 class="text-center">
    Welcome to Admin Home
  </h3>


  <div class="container mt-3 text-muted">
    <div class="text-center">
        <span>Navigate to
          <!--        <a class="btn btn-sm btn-primary mr-1" routerLink="./topics">Topics</a>-->
          <a class="btn btn-sm btn-secondary mr-1" routerLink="./terms">Terms Meaning</a>
          <a class="btn btn-sm btn-primary mr-1" routerLink="./hardware-types">Hardware Types</a>
      </span>
    </div>
  </div>

</div>
