<div class="container">
  <div class="text-center mt-3">
    <div *ngIf="showCreateTopic" class="mb-3">
      <small class="mr-1">Nothing found. Create Topic?</small>
      <a class="btn btn-sm btn-primary" routerLink="../create">Create</a>
    </div>
  </div>

  <div *ngIf="validResults()"
       class="mb-3">
    <hr class="text-black-50">
    <div *ngFor="let topicsProperties of allTopics.results">
      <div class="mb-3">
        <app-entity-item-details [topicProperties]="topicsProperties"></app-entity-item-details>
      </div>
    </div>
  </div>
</div>
