<div class="card">
  <div class="card-header">
    <div>
      <span class="text-muted">SEARCH ID: </span>
      <span class="font-weight-normal">{{componentTypeItemDetails.searchId}}</span>
    </div>
  </div>
  <div class="card-body">
    <div>
      <span class="text-muted">Component: </span>
      <span class="font-weight-normal">{{componentTypeItemDetails.component}}</span>
    </div>
    <div>
      <span class="text-muted">Component Category: </span>
      <span class="font-weight-normal">{{componentTypeItemDetails.componentCategory}}</span>
    </div>
    <div>
      <span class="text-muted">Label: </span>
      <span class="font-weight-normal">{{componentTypeItemDetails.label}}</span>
    </div>

    <div>
      <span class="text-muted">Comment: </span>
      <span class="font-weight-normal">{{componentTypeItemDetails.comment}}</span>
    </div>
  </div>
</div>

