<div class="card">
  <div class="card-header">
    <div>
      <span class="text-muted">SEARCH ID: </span>
      <span class="font-weight-normal">{{hardwareTypeItemDetails.searchId}}</span>
    </div>
  </div>
  <div class="card-body">
    <div>
      <span class="text-muted">Hardware Component: </span>
      <span class="font-weight-normal">{{hardwareTypeItemDetails.hardwareComponent}}</span>
    </div>
    <div>
      <span class="text-muted">Category: </span>
      <span class="font-weight-normal">{{hardwareTypeItemDetails.category}}</span>
    </div>
    <div>
      <span class="text-muted">Hardware Type: </span>
      <span class="font-weight-normal">{{hardwareTypeItemDetails.label}}</span>
    </div>

    <div>
      <span class="text-muted">Description: </span>
      <span class="font-weight-normal">{{hardwareTypeItemDetails.comment}}</span>
    </div>
  </div>
</div>

