<div *ngIf="topicProperties && !deleteSuccess">
  <div class="card">
    <div class="card-header">
      ID: <span class="text-secondary">{{topicProperties.id}}</span>
    </div>
    <div class="card-body">
      <p class="mb-0">ID: <span class="text-secondary">{{topicProperties.id}}</span></p>
      <p class="mb-0">Owner: <span class="text-secondary">{{topicProperties.owner}}</span></p>
      <p class="mb-0">Path: <span class="text-secondary">{{topicProperties.path}}</span></p>
      <p class="mb-0">Middleware Endpoint: <span class="text-secondary">{{topicProperties.middleware_endpoint}}</span>
      </p>
      <p class="mb-0">Protocol: <span class="text-secondary">{{topicProperties.protocol}}</span></p>
      <p class="mb-0">Topic Type: <span class="text-secondary">{{topicProperties.topic_type}}</span></p>
      <p class="mb-0">Data Type: <span class="text-secondary">{{topicProperties.data_type}}</span></p>
      <p class="mb-0">Hardware Type: <span class="text-secondary">{{topicProperties.hardware_type}}</span></p>
      <p class="mb-0">Unit: <span class="text-secondary">{{topicProperties.unit}}</span></p>
      <p class="mb-0">Message Format: <span class="text-secondary">{{topicProperties.message_format}}</span></p>
      <p class="mb-0">Meta Model Type: <span class="text-secondary">{{topicProperties.meta_model_type}}</span></p>
      <p class="mb-0">Meta Model: <span class="text-secondary">{{topicProperties.meta_model}}</span></p>
    </div>

    <div *ngIf="authService.isManager || authService.isAdmin"
         [class.card-footer]="authService.isManager || authService.isAdmin">

      <a [routerLink]="['../' + 'edit',topicProperties.id]" class="btn btn-sm btn-outline-primary mr-1">Edit</a>
      <a (click)="delete(topicProperties.id)" class="btn btn-sm btn-outline-danger text-danger">Delete</a>
    </div>
  </div>
</div>
