<nav class="navbar navbar-expand-lg navbar-light bg-light text-muted">
  <a class="navbar-brand" routerLink="./">Admin Home</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./users">Users</a>
      </li>

<!--      <li class="nav-item">-->
      <!--        <a class="nav-link" routerLink="./topics">Topics</a>-->
      <!--      </li>-->

      <li class="nav-item">
        <a class="nav-link" routerLink="./terms">Terms Meaning</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="./hardware-types">Hardware Types</a>
      </li>

      <li class="nav-item">
        <a (click)="authService.logout()" class="nav-link">Logout</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-right" routerLink="./profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>
