<div class="container">

  <div class="text-center">
    <div class="form-row mt-3">
      <div class="form-group col-md-10 ml-4">
        <input class="form-control" type="search"
               id="searchControl" placeholder="Enter search term"
               (keyup.enter)="getResultsSet()"
               [formControl]="searchControl">
      </div>

      <div class="form-group ml-2">
        <button class="btn btn-primary"
                type="button" [disabled]="searchControl.invalid"
                (click)="getResultsSet()">Search
        </button>
      </div>
    </div>
  </div>

  <p *ngIf="showSorryMessage">Sorry, your search did not yield any results.</p>
  <div class="mb-3"
       *ngIf="isExactResultsSetValid()">
    <hr>
    <p class="font-weight-light">Exact Match</p>
    <div *ngFor="let exactResult of termsMeaningResultsSet.exactResults">
      <div>
        <app-search-item-details [searchItemDetails]="exactResult"></app-search-item-details>
      </div>
    </div>
  </div>

  <div class="mb-3"
       *ngIf="isRelatedResultsSetValid()">
    <hr class="text-black-50">
    <p class="font-weight-light">Related Match</p>
    <div *ngFor="let relatedResult of termsMeaningResultsSet.relatedResults">
      <div class="mb-3">
        <app-search-item-details
          [searchItemDetails]="relatedResult"></app-search-item-details>
      </div>
    </div>
  </div>
</div>
