<div *ngIf="entityProperties && !deleteSuccess">
  <div class="card">
    <div class="card-header">
      ID: <span class="text-secondary">{{entityProperties.id}}</span>
    </div>
    <div class="card-body">
      <p class="mb-0">ID: <span class="text-secondary">{{entityProperties.id}}</span></p>
      <p class="mb-0">Owner: <span class="text-secondary">{{entityProperties.owner}}</span></p>
      <p class="mb-0">Path: <span class="text-secondary">{{entityProperties.path}}</span></p>
      <p class="mb-0">Middleware Endpoint: <span class="text-secondary">{{entityProperties.middleware_endpoint}}</span>
      </p>
      <p class="mb-0">Protocol: <span class="text-secondary">{{entityProperties.protocol}}</span></p>
      <p class="mb-0">Topic Type: <span class="text-secondary">{{entityProperties.topic_type}}</span></p>
      <p class="mb-0">Data Type: <span class="text-secondary">{{entityProperties.data_type}}</span></p>
      <p class="mb-0">Component Type: <span class="text-secondary">{{entityProperties.component_type}}</span></p>
      <p class="mb-0">Unit: <span class="text-secondary">{{entityProperties.unit}}</span></p>
      <p class="mb-0">Message Format: <span class="text-secondary">{{entityProperties.message_format}}</span></p>
      <p class="mb-0">Meta Model Type: <span class="text-secondary">{{entityProperties.meta_model_type}}</span></p>
      <p class="mb-0">Meta Model: <span class="text-secondary">{{entityProperties.meta_model}}</span></p>
      <p class="mb-0">Country: <span class="text-secondary">{{entityProperties.country}}</span></p>
      <p class="mb-0">State: <span class="text-secondary">{{entityProperties.state}}</span></p>
      <p class="mb-0">City: <span class="text-secondary">{{entityProperties.city}}</span></p>
      <p class="mb-0">Street: <span class="text-secondary">{{entityProperties.street}}</span></p>
    </div>

    <div *ngIf="authService.isManager || authService.isAdmin"
         [class.card-footer]="authService.isManager || authService.isAdmin">

      <a [routerLink]="['../' + 'edit',entityProperties.id]" class="btn btn-sm btn-outline-primary mr-1">Edit</a>
      <a (click)="delete(entityProperties.id)" class="btn btn-sm btn-outline-danger text-danger">Delete</a>
    </div>
  </div>
</div>
