<div *ngIf="userDetails">
  <div class="card">
    <div class="card-body">
      <div>
        <span class="text-muted">ID: </span>
        <span class="font-weight-normal">{{userDetails.id}}</span>
      </div>

      <div>
        <span class="text-muted">Username: </span>
        <span class="font-weight-normal">{{userDetails.username}}</span>
      </div>

      <div>
        <span class="text-muted">Role: </span>
        <span class="font-weight-normal">{{userDetails.role}}</span>
      </div>
    </div>
  </div>
</div>
