<br>
<div class="container">
  <h3 class="text-center">
    Welcome to Admin Home
  </h3>


  <div class="container mt-3 text-muted">
    <div class="text-center">
        <span>Navigate to
          <a class="btn btn-sm btn-primary mr-1" routerLink="./users">Users</a>
          <a class="btn btn-sm btn-secondary mr-1" routerLink="./entities">Entities</a>
          <a class="btn btn-sm btn-primary mr-1" routerLink="./terms">Terms Meaning</a>
          <a class="btn btn-sm btn-secondary mr-1" routerLink="./component-types">Component Types</a>
      </span>
    </div>
  </div>

</div>
